
html {
	font-family: sans-serif;
}

body {
	height: 100%;
}

body > .header {
	display: flex;
	align-items: center;

	width: 100%;
	height: 56px;

	background: black;
}

body > .header > .logo {
	margin: 12px;
	height: 32px;
}

body > .header > a {
	color: white;
	font-size: 24px;

	margin: 12px;
}

body > .header > .filler {
	flex: 1 1 100%;
}

body > .header .graph_loadsave {
	display: flex;
	padding: 0 8px;
}

body > .header .graph_loadsave > * {
	margin: 0 4px;
}

body > .header .graph_loadsave #graph_load {
	margin-right: 12px;
}

body > .header .graph_loadsave select, body > .header .graph_loadsave input {
	width: 150px;
	outline: none;
	border: none;

	background: white;
	color: black;
}

body > .header .graph_loadsave .button {
	line-height: 32px;
	padding: 0 16px;

	background: rgb(50, 50, 50);
	color: white;

	user-select: none;
}

body > .content {
	display: flex;
	width: 100%;
	height: calc(100% - 56px);
}

body > .content .node_library {
	flex: 0 0 auto;
}

body > .content .node_editor {
	flex: 1 1 auto;
}
