[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
paho-mqtt = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
build = "*"
mypy = "*"

[requires]
python_version = "3.8"
